@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffc639 95%, #0000) 50% 1px/24px
      24px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 28px), #e4e4ed 0);
  animation: s9 1s infinite linear;
}

@keyframes s9 {
  to {
    transform: rotate(1turn);
  }
}
